
<div class="error-container">
    <div class="card">
        <div class="card-body">
            <div class="error-div">
                <div class="error">
                    <h1>404 error</h1>
                </div>
                <div class="error-info">
                    <h4><span class="bolded">The page you are looking for does not exist. Check the url or your internet connection and try again.</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>






