.weather-details-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
}
.background-image-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    /* overflow: hidden; */
    align-items: center;
}
.background-image-div img{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
}
.weather-title{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    /* z-index: 1; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}
.left-details{
    display: flex;
    justify-content: left;
    position: relative;
    
}
.location-details-left{
    display: flex;
    justify-content: left;
    position: relative;
    /* z-index: 1; */
    padding-left: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -22px;
    bottom: 0px;
    flex-direction: column;
}
.city-temp{
    font-size: 2em;
    font-family: serif;
}
.city-name .city-date{
    font-family: sans-serif;
}
.total-center-image-con{
    /* width: 250px;
    height: 45vh; */
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    bottom: 0px;
    width: 92%;
}
.weather-center-image-con{
    width: 24%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* overflow: hidden; */
    flex-direction: column;
}
.center-image-div img{
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.center-image-description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
/* .weatherData-main-container{
    display: flex;
    justify-content: right;
    position: absolute; 
    right: 0; 
    width: 34%;
    top: 39px;
    height: max-content;
    border: 3px solid green;
    flex-direction: column;
} */
.weatherData-main-container{
    right: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 34%;
    height: 75vh;
    border: thin solid black;
    top: 0px;
    /* gap: 0px; */
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}
.weatherData-details-right-container{
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: right; */
    position: absolute;
    /* border: thin solid green; */
    /* bottom: 53px; */
    top: 0px;
    /* border: 0; */
    padding: 0;
    margin: 0;
}
.weatherData-details-right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.row .col-md-6{
    justify-content: right;
    display: flex;
    flex-direction: column;
    /* align-items: right; */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 1em; */
    font-size: 1.5em;
    font-style: oblique;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    font-weight: bold;
}
.text-center{
    text-align: center;
    gap: 0px;
    align-items: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}
/* .all-info-container{
    justify-content: center;
    display: flex;
    position: relative;
    border: solid thin yellow;
    width: 50%;
    height: 50vh;
} */
.main-weekly-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 30vh;
    /* border: thin solid; */
    bottom: 50px;
    text-align: center;
}
/* .weekly-info-container{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    border: 1px solid;
    width: 100%;
    height: 31vh;
    margin-top: 58px;
    bottom: 50px;
} */
.weekly-info-container{
    /* display: flex;
    justify-content: space-between;
    position: absolute;
    flex-direction: row; */
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
    background: linear-gradient(15deg, black, transparent);
    columns: 7;
    column-rule: 1px solid lightgrey;
    column-fill: balance;
    text-align: center;
}
.weekly-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    
}
.weekly-info img{
    width: 50px;
}




